[Unit]
Description=miner
After=network.target

[Service]
RestartSec=180
Restart=always
WorkingDirectory=/etc/mine/
ExecStart=./etc/mine/start.sh

[Install]
WantedBy=multi-user.target
Alias=startminer.service
